*.iml
.gradle
.gradle/
build/

/local.properties
local.properties

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store
/captures
.externalNativeBuild
.cxx

android/.gradle/
android/build/
android/app/build/

node_modules/
web/node_modules/

dist/
web/dist/

*.log
*.tsbuildinfo
web/src/wasm/*.wasm

*.apk
*.aab